@model IEnumerable<ToDoItem>
<link rel="stylesheet" href="~/css/todo/table.css" />

<div id="table" class="d-flex flex-column shadow p-2 rounded">
    <div id="table-items" class="text-center px-2 py-5">
        @if (Model == null || !Model.Any())
        {
            <h4>To-do list doesn't contain any items yet.</h4>
        }
        else
        {
            <div class="text-center mb-3"><h4>To-do list</h4></div>
            <div class="container-fluid">
                <div class="row row-cols-7 fw-bold">
                    <div class="col">Title</div>
                    <div class="col">Due Date</div>
                    <div class="col-1">Edit</div>
                    <div class="col-1">Delete</div>
                </div>
                <div id="items">
                    @foreach (var item in Model)
                    {
                    <div class="table-item row row-cols-7" data-row-id="@item.Id">
                        <div class="col my-2" data-container-id="@item.Id" data-item-value="@item.Title">@item.Title</div>
                        <div class="col my-2" data-container-id="@item.Id" data-item-value="@item.DueDate">@item.DueDate</div>
                        <div class="col-1 my-2 crud text-warning" name="edit" data-item-id="@item.Id"><i class="fa-solid fa-pen-to-square"></i></div>
                        <div class="col-1 my-2 crud text-danger" name="delete" data-item-id="@item.Id"><i class="fa-solid fa-trash-can"></i></div>
                    </div>
                    }
                </div>
            </div>
            
        }
    </div>
    <div class="d-flex flex-row justify-content-between">
        <div id="addTask" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#creatTaskModal">Add new</div>
    </div>
</div>

<!-- Add Task Modal -->
<div class="modal fade" id="creatTaskModal" tabindex="-1" aria-hidden="true">
    <partial name="Partials/_CreateTask" />
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="~/js/todo/index.js"></script>